/models/points/BERTGamesWeek/best_model.h5
/models/points/BERTGamesWeek/models/GamesWeekTFDL0201.h5
/models/points/BERTGamesWeek/models/model_data_0201.txt
/models/points/BERTGamesWeek/models/best_model.h5
